{% extends 'base.html' %}
{% from 'home/post-macros.html' import post_to_render, comment_to_render %}

{% block title %}
<title>User</title>
{% endblock %}

{% block body %}
<div>
    <p class="display-2"><b>{{ user.username }}</b></p>
    <p class="display-3 mt-3">{{ user.username }}'s posts</p>
    <div class="mt-2">
    {% for post in user.created_posts | selectattr('deleted', 'equalto', False) %}
    {{ post_to_render(post) }}
    {% endfor %}
    </div>
    <p class="display-3 mt-3">{{ user.username }}'s comments</p>
    {% for comment in user.created_comments | selectattr('deleted', 'equalto', False) %}
        {{ comment_to_render(comment) }}
    {% endfor %}
</div>
{% endblock %}