{% extends 'base.html' %}
{% from 'home/post-macros.html' import comment_to_render, back_button %}

{% block title %}
<title>Comments</title>
{% endblock %}


{% block body %}
<div class="mx-auto">
    {{ back_button() }}
    <div class="col-12 mt-3">
        {% if post.referenced_post %}
            <a href="{{ url_for('home.show_post_comments', id=post.referenced_post.id) }}">go to referenced post</a>
        {% elif post.referenced_comment %}
            <a href="{{ url_for('home.show_comment_comments', id=post.referenced_comment.id) }}">go to referenced comment</a>
        {% endif %}
        <figure>
            <figcaption>
                <a href="{{ url_for('home.show_user', id=post.user.id) }}" style="color: black; text-decoration: none">
                    <b>{{ post.user.username }}</b> <br>
                </a>
                {{ post.creation_date.strftime('%d/%m/%Y, %H:%M') }}
            </figcaption>
            {% if post.title %}
            <p class="display-4 post-title">{{ post.title }}</p>
            {% endif %}
            <p class="blockquote post-content">{{ post.content }}</p>
    
            <button onclick="like_post(this, '{{ post.id }}')" style="background-color:transparent; border:0px">
                {% if current_user in post.liked_users %}
                    <img style="width: 30px" src="{{ url_for('static', filename='icons/heart-fill.svg') }}" alt="">
                {% else %}
                    <img style="width: 30px" src="{{ url_for('static', filename='icons/heart.svg') }}" alt="">
                {% endif %}
                <span style="color: black">{{ post.liked_users|length }}</span>
            </button>
            {% if post.user == current_user %}
            <button onclick="delete_post(this, '{{ post.id }}')" style="background-color: transparent; border: 0px; text-decoration: none">
                <img style="width: 30px" src="{{ url_for('static', filename='icons/trash3.svg') }}" alt="">
            </button>
            {% endif %}
        </figure>
        <hr>
    </div>

    <p class="display-2">Comments...</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="content">Leave a comment</label>
        {{ form.content }}
        {{ form.submit }}
    </form>
    <div class="mt-5">
    {% for comment in post.comments | selectattr('deleted', 'equalto', False) %}
        {{ comment_to_render(comment, current_user) }}
    {% endfor %}
    </div>
</div>
{% endblock %}